body{
  background-color: #ccc;
}

#root{
  width: 800px;
  margin: 10vh auto;
  gap: 1rem;
  min-height: 30vh;
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 1rem
}
.sort{
  grid-column:1/3;
  grid-row: 1;
  background-color: #fff;
  align-items: center;
}
.sort ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0
}
.sort ul li {
  margin-right: 1rem;
  padding: 5px
}
.sort ul li:hover{
  color: red;
}
.sort ul li.asc, .sort ul li.desc{
  color: red
}
.movies{
  grid-column: 1;
  grid-row: 2;
}

.movies .card{
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.movies .card h3 {
  margin-top: 0;
}
.movies .card p.date{
  display: inline;
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #cbcbcb;
}
#filter{
  grid-column: 2;
  grid-row: 2;
  background-color: #fff;
}

.sort ul li.price, .sort ul li.date{
  position: relative;
  cursor: pointer;
}
.sort ul li.price:after, .sort ul li.date:after{
  content: "⇵"
}

.sort ul li.price.asc:after, .sort ul li.date.asc:after{
  content: "↥"
}

.sort ul li.price.desc:after, .sort ul li.date.desc:after{
  content: "↧"
}